@model App.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1 class="text-white fonte-cool">Edite o prato</h1>
    <div class="row text-white">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger fonte-cool"></div>
                <input type="hidden" asp-for="ProdutoId" />
                <div class="form-group">
                    <label asp-for="ProdutoNome" class="control-label fonte-cool">Nome</label>
                    <input asp-for="ProdutoNome"
                        class="form-control fonte-cool bg-secondary border-bottom-2 border-top-0 border-start-0 border-end-0 text-white" />
                    <span asp-validation-for="ProdutoNome" class="text-danger fonte-cool"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label fonte-cool">Descrição</label>
                    <input asp-for="Descricao"
                        class="form-control fonte-cool bg-secondary border-bottom-2 border-top-0 border-start-0 border-end-0 text-white" />
                    <span asp-validation-for="Descricao" class="text-danger fonte-cool"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Preco" class="control-label fonte-cool">Preço</label>
                    <input asp-for="Preco"
                        class="form-control fonte-cool bg-secondary border-bottom-2 border-top-0 border-start-0 border-end-0 text-white" />
                    <span asp-validation-for="Preco" class="text-danger fonte-cool"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foto" class="control-label fonte-cool">Foto</label>
                    <input asp-for="Foto"
                        class="form-control fonte-cool bg-secondary border-bottom-2 border-top-0 border-start-0 border-end-0 text-white" />
                    <span asp-validation-for="Foto" class="text-danger fonte-cool"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoriaId" class="control-label fonte-cool">Categoria</label>
                    <select asp-for="CategoriaId"
                        class="form-control fonte-cool bg-secondary border-bottom-2 border-top-0 border-start-0 border-end-0 text-white"
                        asp-items="ViewBag.CategoriaId"></select>
                    <span asp-validation-for="CategoriaId" class="text-danger fonte-cool"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-danger fonte-cool mt-3" />
                </div>
            </form>
        </div>
    </div>
</div>
