@model App.Models.Categoria

@{
    ViewData["Title"] = "Create";
}
<div class="container">

<h1 class="text-white fonte-cool">Cadastre a categoria</h1>
<div class="row text-white">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProdutoNome" class="control-label">Nome da categoria</label>
                <input asp-for="ProdutoNome" class="form-control" />
                <span asp-validation-for="ProdutoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
<input type="submit" value="Create" class="btn btn-danger fonte-personalizada fs-4 mt-3" />            </div>
        </form>
    </div>
</div>
</div>


